*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: gainsboro;
    align-items: center;
    height: 45px;
    padding: 16px;
    margin: 0 7px;
    

}
body{
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  
    text-align: left;
    background-color: rgb(245 245 245);
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}
:root{
    --gray:rgba(61, 70, 77, 0.637);
    --grayopesit:Gray;
    --graybtton:rgb(128 128 128);
    --yellow:rgb(255 211 51);
    --white2:rgb(255 255 255);
    --footercolor:rgb(245 245 245);
    --footerbackground:rgb(61 70 77);
}
nav li{
    list-style: none;
}
nav li a{
    text-decoration: none; 
    color:gray;
}
.text{
    display: flex;
  
   
    
}
.text li{
    margin: 10px;
}
.select{
    display: flex;
}
.select select{
    outline: none;
    margin: 5px;
    padding:4px;
    border: none;

}
.header2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    background-color: var(--white2);
    padding: 20px;
    margin: 0 7px;

}
.int input{
    padding: 7px;
    outline: none;
    width: 40vw;
    font-size: 18px;

}
body{
    width: 100%;
    height: 100vh;
}
.header3{
background-color:var(--footerbackground);
display: flex;
align-items: center;
justify-content:space-around;
box-sizing: border-box;
position: relative;
margin: 0 7px;
}

.text li{
    list-style: none;
    padding: 10px;
}
.text li a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 18px;
}

.text li a:hover{
    color:yellow;
}
.header3 h4{
    box-sizing: border-box;
    font-size: 20px;
    background-color:var(--yellow);
  width: 30vw;
  padding: 20px;
  opacity: 0.6;
  position: relative;
  top:-1px
 
    
}
.header3 h4:hover{
    opacity: 1;
}

.image{
    display: flex;
}

.image img{
    border: 50%;
    color:var(--gray)
}
.ul_list{
    width:90%;
    background-color: var(--white2);
    margin:20px;
    margin-left: 50px;
    padding: 12px;
   
   

}
.ul_list ul{
    list-style: none;
    display: flex; 
    flex-direction: row;
} 
.ul_list ul li{
    margin: 8px;
}
.ul_list ul li a{
    text-decoration: none;
    color:var(--gray)
}






footer{
    background-color:var(--footerbackground);
    width: 100vw;
    color: var(--footercolor);
    font: bold;
    font-size: 16px;
    box-sizing: border-box;
   
    
}
.footer_items_box{
    display: flex;
    
    column-gap: 20px;
    
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
}
.itemes{
    margin:20px;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    

}
ul{
    display: flex;
   flex-direction: column;
   /* row-gap: 10px; */
}
.itemes ul li{
   
    list-style: none;
}
.footerxxx{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: flex-start;
}
.footer_box{
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}
.footer_div{
    width: 60px;
    height: 50px;
    background-color: var(--yellow);
    cursor: pointer;
    
}
.input_button{
    display: flex;
    flex-direction: row;
   
    margin-top: 15px;
}
.input_button input{
    padding: 15px;
    outline: none;
    border: none;
}
.input_button input::placeholder{
    font-size: 12px;
  
}
.input_button button{
    border: none;
    background-color: var(--yellow);
    width: 80px;
    cursor: pointer;
}
.text_img_footer{
    padding: 10px;
    margin: 10px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
























@media screen and (max-width:990px)
{
    .nav_text{
       display: none;
    
    }
   
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
     width: 100%;
    }
    .header2{
    
       display: none;
    }
    .header3 h4{
        display: none;
    }
    .header3{
        padding: 18px;
        height: 90px;
    }

  .footer_items_box{
    display: flex;
    flex-direction: column;
   
  }
  footer{
    position: relative;
    top:40px
  }

  .img_text_box{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    
    width: 100%;
}

.textBote{
    width: 100%;
    box-sizing: border-box;
    background-color:var(--white2);
    
    margin-left:40px ;
} 
 .text li a{
    font-size: 12px;
 }
}
